.cv {
	font-size: 1em;

	margin: 36px 0 0 72px;
}

.row .contact .aright {
	font-size: 1.5em;
	margin-right: 36px;
}

.contact {
	margin-bottom: 146px;
}

.row .label {
	font-size: 1.25em;
	font-style: italic;
}

.row p {
	font-size: 1em;
}
.row .cell p {
	margin: 0;
}

.right section .table {
	margin: 0;
}

section {
	margin-bottom: 72px;
}

section.work {
	margin-bottom: 28px;
}

section .table .row .c1 p {
	margin: 0;
}

section > .table {
	width: 95%;
}

.work .table .row p, .work .table .row div.table {
	margin-bottom: 10px;
}

@media print {
	.left.w50 {
		display: none;
	}
}
