.works {
	width: 100%;
	height: 100%;
	position: absolute;
}

.works .row, .works .row .cell {
	height: 100%;
	vertical-align: middle;
	position: relative;
}

.cell .fix {
	position: fixed;
	top: 44%;
	right: 50%;
	font-size: 48pt;
}

.left {
	background: #7eceb0;
	text-align: right;
}
.left img:hover {
	opacity: 1;
}


.right img {
	max-width: 100%;
}

.right a {
	color: black;
	opacity: .50;
	text-decoration: none;
}
.right a:hover {
	color: black;
	opacity: 1;
	text-decoration: none;
}

.work {
	display: inline-block;
	width: 100%;
	position: relative
}
.work img, .work p {
	display: inline-block;
}
.work img {
	width: 36%;
	vertical-align: middle;
}
.right .work .table {
	margin: 0;
}
.right .work p {
	width: 54%;
	margin-left: 16px;
	font-size: 1em;
}

.right {
	background: #90d5bc;
	text-align: left;
}

.right .table {
	margin-left: 72px
}

.right h1, .right h2 {
	font-size: 3em;
}

.right p {
	font-size: 2em;
}

.header p {
	margin-top: 36px;
	margin-bottom: 72px;
}
.cell h2 {
	margin-top: 18px;
}
.cell p {
	margin-bottom: 36px;
}
