.works {
	width: 100%;
	height: 100%;
	position: absolute;
}

.cell .row p {
	max-width: 95%;
}

.works .row, .works .row .cell {
	height: 100%;
	vertical-align: middle;
	position: relative;
}

.work {
	display: inline-block;
	width: 100%;
	position: relative
}
.work img, .work p {
	display: inline-block;
}
.work img {
	width: 36%;
	vertical-align: middle;
}
.work h2 a, .work > a  {
	opacity: 1;
}
.work h2 {
	margin-top: 36px;
}

.right > .table {
	padding-bottom: 72px;
}

.right .work .table {
	margin: 0;
}
.right .work p {
	width: 54%;
	margin-left: 16px;
	font-size: 1em;
}
