<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">

	<title>jdid.co - portfolio</title>

	<link rel="icon" type="image/png" href="/img/favicon.png">
	<link rel="stylesheet" type="text/css" href="/css/base.css?v1" />
	<link rel="stylesheet" type="text/css" href="/css/works.css?v1"/>
</head>
<body class="table works">
<div class="row">
	<nav class="cell left w50">
		<a class="fixback" href="/"><img src="/img/left.png" alt="back" /></a>
		<a class="fix"  href="/works/">/works/</a>
	</nav>
	<div class="cell right w50">
		<div class="table">
			<article class="row header">
				<p>
					<a href="/">jdid.co</a> is home to <a href="/cv">romain knezevic</a>,
					web developper and <a href="https://golang.org" target="_blank">golang enthusiast</a>, an attempt at making
					finely crafted and usable websites in an ocean of www is being made since 2012, here is a subset result of this effort
				</p>
			</article>

			{{range .Works}}
				<article class="row work">
					<h2>
						{{if .Web}}<a href="{{.Web}}">{{.Title}}</a>
						{{else}}{{.Title}}
						{{end}}
					</h2>
					<hr>
					{{if .Web}}<a href="{{.Web}}"><img src="{{.Image.Src}}" alt="{{.Image.Alt}}"/></a>
					{{else}}<img src="{{.Image.Src}}" alt="{{.Image.Alt}}"/>
					{{end}}
					<p class="about">
						{{.About}}
					</p>
					<div class="details table sp10">
						{{range .Specs}}
						<div class="row">
							<div class="cell c0">
								<em>{{.Label}}</em>
							</div>
							<div class="cell">
								{{.Content}}
							</div>
						</div>
						{{end}}
					</div>
				</article>
			{{end}}
		</div>
	</div>
</div>
</body>
</html>
