<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">

	<title>jdid.co - portfolio</title>

	<link rel="icon" type="image/png" href="/img/favicon.png">
	<link rel="stylesheet" type="text/css" href="/css/base.css?v0" />
	<link rel="stylesheet" type="text/css" href="/css/works.css?v0"/>
</head>
<body class="table works">
<div class="row">
	<nav class="cell left w50">
		<a class="fixback" href="/"><img src="/img/left.png" alt="back" /></a>
		<a class="fix"  href="/works/">/works/</a>
	</nav>
	<div class="cell right w50">
		<div class="table">
			<article class="row header">
				<p>
					<a href="/">jdid.co</a> is home to <a href="/cv">romain knezevic</a>,
					web developper and <a href="https://golang.org" target="_blank">golang enthusiast</a>, an attempt at making clean and
					usable websites in an ocean of www is being made since 2012, here is a
					subset result of this effort
				</p>
			</article>

			{{range $w := .Works}}
				<article class="row work">
					<h2><a href="{{ $w.Web }}">{{ $w.Title }}</a></h2>
					<hr>
					<a href="{{ $w.Web }}"><img src="{{ $w.Image.Src }}" alt="{{ $w.Image.Alt }}"/></a>
					<p class="about">
						{{ $w.About }}
					</p>
					<div class="details table sp10">
						{{range $p := $w.Specs}}
						<div class="row">
							<div class="cell c0">
								<em>{{ $p.Label }}</em>
							</div>
							<div class="cell">
								{{ $p.Content }}
							</div>
						</div>
						{{end}}
					</div>
				</article>
			{{end}}
		</div>
	</div>
</div>
</body>
</html>
